/*
  --padres container todos relative
*/

.container {
    width: 150px;
    height: 150px;
    border: solid 3px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
  }
  
  #container-1 {
    z-index: 3;
  }
  
  #container-2 {
    /* position: absolute; */
    z-index: 10;
    top: 150px;
    /* bottom: 150px; */
  }
  
  .child {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: right;
    opacity: 1;
  }
  
  #first {
    z-index: auto;
    background-color: #FF5C35;
    top: 10px;
    left: 15px;
  }
  
  #second {
    z-index: auto;
    background-color: #192733;
    top: 30px;
    left: 35px;
  }
  
  #third {
    z-index: -100;
    background-color: #4FB06D;
    top: 10px;
    left: 5px;
  }
  
  #fourth {
    z-index: auto;
    background-color: #ED2D40;
    top: 30px;
    left: 25px;
  }